@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Partial View Demo</p>
</div>

<div>

    
        @Html.Partial("_TotalSales");
 
</div>

<div>

    @{
        Html.RenderPartial("_Report");
    }
</div>
